.positioning {
    position: relative;
    border: 1px solid black;
    height: 600px;
    width: 1000px;
    left: 0;
    right: 0;
    margin: auto;
}

#game-scores {
    display: flex;
    justify-content: space-around;
}

h1 {
    text-align: center;
}