body {
    background-image: url(../img/background-test.jpg);
    background-size: cover;
    font-family: 'Chakra Petch', sans-serif;
}

.positioning {
    position: relative;
    /* border: 1px solid black; */
    height: 600px;
    width: 1000px;
    left: 0;
    right: 0;
    margin: auto;
}

#game-scores {
    display: flex;
    justify-content: space-around;
    font-size: 1.4em;
}

h1 {
    text-align: center;
    font-family: 'Sixtyfour', sans-serif;
    font-size: 2.5em;
}

#game-end-title {
    font-size: 3em;
}

#game-screen,
#game-end {
    display: none;
}

.positioning-game-screens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#instructions {
    width: 75%;
    font-size: 2em;
    text-align: center;
}

#game-screen {
    background-image: url(../img/oak-wooden-textured-design-background.jpeg);
    background-size: cover;
}

.shadow__btn {
    padding: 10px 20px;
    border: none;
    font-size: 20px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
}

.shadow__btn {
    background: rgb(3, 158, 16);
    box-shadow: 0 0 25px rgb(0, 140, 255);
}

.shadow__btn:hover {
    box-shadow: 0 0 5px rgb(0, 140, 255),
        0 0 25px rgb(0, 140, 255),
        0 0 50px rgb(0, 140, 255),
        0 0 100px rgb(0, 140, 255);
}